<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:int="http://www.springframework.org/schema/integration"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/integration http://www.springframework.org/schema/integration/spring-integration.xsd">

    <import resource="si-monitoring-config.xml"/>

    <int:channel id="internalRequestChannel"/>
    <int:channel id="preparationQueueChannel"/>
    <int:channel id="senderQueueChannel"/>

    <int:chain input-channel="internalRequestChannel" send-timeout="30000">
        <int:service-activator expression="@monitoringService.create(payload, 1)"/>
        <int:service-activator ref="jmsPublisher" method="preparation"/>
    </int:chain>

    <int:chain input-channel="preparationQueueChannel" >
        <int:service-activator ref="internalRequestPreparationService" method="preparePackage"/>
        <int:service-activator expression="@monitoringService.create(payload, 3)"/>
        <int:service-activator ref="jmsPublisher" method="sender"/>
    </int:chain>

    <int:chain input-channel="senderQueueChannel">
    <int:service-activator ref="internalWsClient" method="sendInternal"/>
    </int:chain>
</beans>