<!DOCTYPE HTML>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="integration/favicon.ico">
    <title>Авторизация</title>
    <link href="integration/auth.css" rel="stylesheet">
    <link href="dist/css/n2o/bootstrap.css" rel="stylesheet"/>
    <link href="dist/css/n2o/n2o.css" rel="stylesheet"/>
    <link href="dist/signin.css" rel="stylesheet"/>
</head>

<body>
<div class="body-background"></div>

<div class="wrapper">
    <div class="logo_container" style="width: 350px;">
        <div class="logo">
            <img src='integration/logo-light.png' class='logo_img'>
        </div>
        <div>
            <div class="logo_text_h1">ФЕДЕРАЛЬНЫЙ ФОНД</div>
            <div class="logo_text_h2">ОБЯЗАТЕЛЬНОГО МЕДИЦИНСКОГО СТРАХОВАНИЯ</div>
        </div>
    </div>
    <div class="form_h2">ГОСУДАРСТВЕННАЯ ИНФОРМАЦИОННАЯ СИСТЕМА ОБЯЗАТЕЛЬНОГО МЕДИЦИНСКОГО СТРАХОВАНИЯ</div>
    <div class="form_h1">Подсистема "Интеграционная шина ГИС ОМС"</div>
    <div class="form-wrapper">
        <div class="form">
            <div class="form__header">Вход</div>
            <form class="form-signin" action="/auth" method="post">
            <div class="form__group">
                    <input id="username" placeholder="Имя пользователя"
                           name="username" value="" type="text"
                           autofocus class="form__input form__input-with-icon" required/>
                    <div class="form__icon" style="background: url('integration/Username.svg') no-repeat; top: 14px"></div>
                </div>
                <div class="form__group">
                    <input class="form__input form__input-with-icon"
                           required type="password" id="password" name="password" placeholder="Пароль"/>
                    <div class="form__icon" style="background: url('integration/lock_psw.svg') no-repeat"></div>
                </div>
                <div class="form__group">
                    <input name="login" id="kc-login" type="submit" class="form__submit" value="Войти">
                </div>
            </form>
        </div>
    </div>

    <div class="bottom-wrapper">
        <div class="bottom-block">
            <div class="footer">
                <div class="bottom-block__phone">
                    Служба технической поддержки: 8-800-775-79-16
                </div>
                <div class="bottom-block__link">
                    support_gisoms@ffoms.ru
                </div>
                <a href="https://foms.ncinform.ru/servicedesk/customer/portal/6" target="_blank">Портал тех.поддержки</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>